<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
</head>
<body>

    <h2>Lista de Cursos</h2>

    <a th:href="@{/cursos/nuevo}">Agregar Curso</a>
    <form th:action="@{/logout}" method="POST" style="display:inline;">
    <button type="submit">Cerrar sesión</button>
</form>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre Del Curso</th>
            <th>Descripcion</th>
            <th>Horario</th>
            <th>Cupos</th>
        </tr>
        <tr th:each="curso : ${cursos}">
            <td th:text="${curso.id}"></td>
            <td th:text="${curso.nombreCurso}"></td>
            <td th:text="${curso.descripcion}"></td>
            <td th:text="${curso.horario}"></td>
            <td th:text="${curso.cupos}"></td>
        </tr>
    </table>

</body>
</html>